@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:200,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%; /* Background ocupa a tela toda */
}

body {
  background: #20CE88;
  background-size: cover; 
  -webkit-font-smoothing: antialiased !important; /* Deixa a fonte do texto mais detalhada */
  color: #323232;
}

body, input, button {
  font-family: 'Sarabun', Arial, Helvetica, sans-serif;
  font-size: 14px;
}